body {
    padding: 0px;
    margin: 0px;
    /* madharchod bugs */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url('../images/intro-bkg.jpg') no-repeat center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
    color: #fff;
}

.intro h1 {
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 200;
}

.intro .title {
    margin-top: 10%;
    margin-left: 20%;
    /* border: 2px solid white; */
}

.btn-contact {
    border: 1px solid white;
    color: white;
    background: transparent;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
}

.btn-w {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
    /* border: 2px solid #fff; */
}

.project-container {
    /* margin-top: 0px; */
    padding-top: 30px;
    width: 100%;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Lato', sans-serif;
}

.project-container .icon img {
    max-width: 64px;
    max-height: 64px;
    border-radius: 10px;
}

.project-container .left {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}

.project-container .tag-title {
    margin-left: 20px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container .title {
    font-size: 20px;
    font-weight: 600;
}

.project-container .tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-container .tag-item {
    margin-left: 2px;
    margin-right: 1px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFF;
    border-radius: 0.25em;
    padding: .2em .6em .3em .3em;
    line-height: 1;
    font-size: 12px;
}

.social-container {
    display: flex;
    border: solid 2px white;
    float: right;
    justify-content: space-around;
    width: 130px;
}

.social-container a {
    cursor: pointer;
    color: #ffffff;
}

.social-container a:hover {
    font-size: 120%;
    transition: 0.2s;
}

.fa-google-play {
    content: "\f3ab";
}

.mhr {
    border-width: 6px;
    margin: 24px 0!important;
    width: 90px;
    border-radius: 3px;
}

.project-container .details {
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* links on intro page */

.social-w {
    margin-top: 200px;
    width: 100%;
    border: solid 1px white;
    /* just to keep links in right */
    display: flex;
    justify-content: flex-end;
}

.intro-links {
    display: flex;
    border: solid 2px white;
    justify-content: space-around;
    /* width: 130px; */
    width: 24%;
}

.intro-links a {
    cursor: pointer;
    color: #ffffff;
}

.intro-links a:hover {
    font-size: 120%;
    transition: 0.2s;
}

@media only screen and (max-width: 500px) {
    .project-container {
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Lato', sans-serif;
    }
    .links {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .project-container .tag {
        justify-content: unset;
    }
    .btn-contact {
        display: none;
    }
    /* to hide contact me button in mobiles */
    .btn-w {
        display: none;
    }

    .intro {
        height: 100vh;
    }
    
    .intro h1 {
        font-size: 34px;
        font-weight: 200;
    }
    
    .intro .title {
        margin-top: 10%;
        margin-left: 20%;
        /* border: 2px solid white; */
    }

    .social-w {
        margin-top: 20px;
        /* just to keep links in right */
        display: flex;
        justify-content: center;
    }
}