body {
    background: #262626;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-size: cover;
    width: 196px;
    overflow: hidden;
    background: #fff;
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-image: url(images/ss/b.png);
}
